<!DOCTYPE html>
<body>
    <ul>
        <% asanas.forEach(function(asana) { %>
            <li>Name: <%= asana.name %></li>
            <li>Description: <%= asana.description %></li>
            <li>Benefits:
                <ul>
                    <% asana.benefits.forEach(function(benefit) { %>
                        <li><%= benefit %></li>
                    <% }); %>
                </ul>
            </li>            <li>Image: <img src="<%= asana.image %>"></li>
            <li>Added By: <%= asana.addedByName %></li>
            <hr>
        <% }); %>
    </ul>
</body>
</html>
